body {
   background-color: dimgray;
}

div.header div.image{
    padding-left: 15px;
    max-width: 100%;

}

header{
    background: yellowgreen;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 50px;
}

header a {
    text-decoration: none;
    color: blue;
}

header a.logo {
    font-weight: bold;
    padding-left: 300px;
}

header nav{
    display: flex;
    gap: 15px;
}

div.post{
    display: grid;
    grid-template-columns: 1.1fr 1.0fr;
    gap: 20px;
    margin-bottom: 20px;
}

h1{
    font-family: sans-serif;
}

